* {
  box-sizing: border-box;
}
body {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lotto_table {
  width: 698px;
  margin: auto;
  text-align: left;
  background-color: #44e6;
  border-radius: 20px;
}
.lotto_table > .aside {
  display: inline-block;
  vertical-align: middle;
}
.aside {
  position: relative;
}
.aside > .spin_frame {
  display: none;
  position: absolute;
  width: 120px;
  height: 120px;
  right: 0;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.spin_frame::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 3px;
  background-color: #3f3;
}
.aside > .rnd_btn {
  width: 120px;
  height: 120px;
  white-space: pre-line;
  border: none;
  background: radial-gradient(#4f4, #4b4);
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  margin-left: 20px;
}
.aside > .rnd_btn:hover {
  cursor: pointer;
  background: radial-gradient(#4b4, #4f4);
}
.table,
.result {
  display: inline-block;
  vertical-align: middle;
  padding: 25px 10px;
  border-radius: 20px;
  text-align: left;
  overflow: hidden;
}

.table {
  height: 518px;
  background-color: #44e6;
}

.result {
  width: 698px;
  background-color: #44e6;
  margin-top: 30px;
}

.row {
  width: 100%;
  height: 60px;
  margin: 6px 0;
}
.result .row {
  animation: scale 0.5s ease, raider 4.8s ease 0.5s;
}
.col {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  line-height: 56px;
  text-align: center;
  font-size: 28px;
  border-radius: 50%;
  margin: 0 6px;
  background-color: #fff;
  color: #44e;
  transition: 0.3s ease-in-out;
}
.col:hover {
  cursor: pointer;
}
.col.active {
  position: relative;
  color: #fff;
  font-weight: 500;
  overflow: hidden;
}
.col.active::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  left: 0;
  top: 0;
  box-shadow: 0px 0px 5px 5px rgb(255 255 255 / 20%);
}
.col.active::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  left: 25%;
  bottom: -30%;
  box-shadow: 0px 0px 5px 5px rgb(255 255 255 / 20%);
}
.col.active.range_1 {
  background: #fbc400;
  text-shadow: 0px 0px 3px rgb(73 57 0 / 80%);
}
.col.active.range_2 {
  background: #69c8f2;
  text-shadow: 0px 0px 3px rgb(0 49 70 / 80%);
}
.col.active.range_3 {
  background: #ff7272;
  text-shadow: 0px 0px 3px rgb(64 0 0 / 80%);
}
.col.active.range_4 {
  background: #aaa;
  text-shadow: 0px 0px 3px rgb(61 61 61 / 80%);
}
.col.active.range_5 {
  background: #b0d840;
  text-shadow: 0px 0px 3px rgb(41 56 0 / 80%);
}
.reset_btn,
.save_btn,
.remove_btn {
  height: 60px;
  border: none;
  margin: 0 6px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  float: right;
}
.reset_btn {
  width: 112px;
  font-size: 24px;
  background-color: #44e;
  color: #eaeaea;
  border-radius: 20px;
}
.save_btn,
.remove_btn {
  width: 90px;
  font-size: 18px;
  opacity: 1;
  color: #fff;
  border-radius: 10px;
}
.save_btn {
  background-color: #4e4;
}
.remove_btn {
  background-color: #e44;
}
.reset_btn.active {
  opacity: 1;
}
.reset_btn:hover,
.remove_btn:hover,
.save_btn:hover {
  cursor: pointer;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  from {
    height: 0;
    transition: 0.5s ease;
  }
  to {
    height: 50px;
    transition: 0.5s ease;
  }
}
@keyframes raider {
  from {
    background: linear-gradient(to right, transparent, blue, transparent);
    margin-left: -110%;
  }
  to {
    background: linear-gradient(to right, transparent, blue, transparent);
    margin-left: 110%;
  }
}
